In [135]:
import re
import pandas as pd
import nltk
nltk.download('stopwords')
import string
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()
from nltk.stem import WordNetLemmatizer

string.punctuation

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [136]:
path = r'C:\Users\user\Desktop\TU Eindhoven\Q3\Visual Analytics\VisualAnalytics\articles\\'
articles_df = pd.DataFrame(columns=['article_number', 'content'])

In [137]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

def tokenization(text):
    tokens = re.split('W+',text)
    return tokens

#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

#defining a function for stemming
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text

In [138]:
for i in range(844):

    f = open(path + '{}.txt'.format(str(i)), "r")
    art_number = i
    word_list = f.read().splitlines()
    articles_df.loc[i,'article_number'] = art_number
    articles_df.loc[i,'content'] = word_list
    f.close()

print("Reading all articles and converting them into dataframe. Each row is a dataframe...\n")
articles_df

Reading all articles and converting them into dataframe. Each row is a dataframe...

    article_number                                            content
0                0  [The Orb, , , BUMP OF PROTESTS IN ABILA IN RES...
1                1  [The Light of Truth, , ENORMOUS IPO MAKES THE ...
2                2  [Everyday News, , Global boxes of the charity ...
3                3  [The Tulip, , PROMINENT MATTER, BURGERMATRIJZE...
4                4  [News Online Today, , ELODIS, KRONOS:  HELP FR...
..             ...                                                ...
839            839  [News Desk, , ARREST BLOTTER OF THE POLICE FOR...
840            840  [The Orb, , THE DEMONSTRATION ATTRACTS THOUSAN...
841            841  [Centrum Sentinel, VOICES - a blog approximate...
842            842  [Homeland Illumination, VOICES - a blog about ...
843            843  [The Wrap, , DEMONSTRATION ATTRACTS THOUSANDS ...

[844 rows x 2 columns]

In [139]:
#list of words without empty strings

for i in range(len(articles_df)):
    without_empty_strings = [string for string in articles_df.loc[i,'content'] if string != ""]
    articles_df.loc[i,'content'] = without_empty_strings
    articles_df.loc[i,'content'] = ' '.join(articles_df.loc[i,'content'])

articles_df.head(10)

  article_number                                            content
0              0  The Orb BUMP OF PROTESTS IN ABILA IN RESPONSE ...
1              1  The Light of Truth ENORMOUS IPO MAKES THE BILL...
2              2  Everyday News Global boxes of the charity of d...
3              3  The Tulip PROMINENT MATTER, BURGERMATRIJZEN OF...
4              4  News Online Today ELODIS, KRONOS:  HELP FROM A...
5              5  Worldwise The ministry for health studies comp...
6              6  World Journal Four people died in a burning ac...
7              7  News Online Today WRAP UP OF EVENTS AT GASTECH...
8              8  Modern Rubicon ON SCENE BLOG 20 January 2014 1...
9              9  Kronos Star Breaking: Emergency at GAStech Hea...

In [140]:
import datefinder
def extract_dates(text):
#     matches = list(datefinder.find_dates(text))
    matches = re.findall(r'(\d{4}\/\d{2}\/\d{2})|(\d{1,2}\s(Jan|January|Feb|February|Mar|March|Apr|April|May|Jun|June|Jul|July|Aug|August|Sep|September|Oct|October|Nov|November|Dec|December)\s\d{4})',text)
    return matches

articles_df['dates']= articles_df['content'].apply(lambda x: extract_dates(x))
articles_df.head(10)

,article_number,content,dates
0,0,The Orb BUMP OF PROTESTS IN ABILA IN RESPONSE ...,"[(2012/09/08, , )]"
1,1,The Light of Truth ENORMOUS IPO MAKES THE BILL...,"[(2013/12/18, , )]"
2,2,Everyday News Global boxes of the charity of d...,"[(1999/11/16, , )]"
3,3,"The Tulip PROMINENT MATTER, BURGERMATRIJZEN OF...","[(1994/02/18, , )]"
4,4,"News Online Today ELODIS, KRONOS: HELP FROM A...","[(1998/04/26, , )]"
5,5,Worldwise The ministry for health studies comp...,"[(1998/11/10, , )]"
6,6,World Journal Four people died in a burning ac...,"[(2007/03/20, , )]"
7,7,News Online Today WRAP UP OF EVENTS AT GASTECH...,"[(2014/01/20, , )]"
8,8,Modern Rubicon ON SCENE BLOG 20 January 2014 1...,"[(, 20 January 2014, January)]"
9,9,Kronos Star Breaking: Emergency at GAStech Hea...,"[(, 20 January 2014, January)]"

In [141]:
# storing the puntuation free text
articles_df['content']= articles_df['content'].apply(lambda x:remove_punctuation(x))
print("Punctuantion free content...\n")
articles_df.head(10)

Punctuantion free content...

,article_number,content,dates
0,0,The Orb BUMP OF PROTESTS IN ABILA IN RESPONSE ...,"[(2012/09/08, , )]"
1,1,The Light of Truth ENORMOUS IPO MAKES THE BILL...,"[(2013/12/18, , )]"
2,2,Everyday News Global boxes of the charity of d...,"[(1999/11/16, , )]"
3,3,The Tulip PROMINENT MATTER BURGERMATRIJZEN OF ...,"[(1994/02/18, , )]"
4,4,News Online Today ELODIS KRONOS HELP FROM AN ...,"[(1998/04/26, , )]"
5,5,Worldwise The ministry for health studies comp...,"[(1998/11/10, , )]"
6,6,World Journal Four people died in a burning ac...,"[(2007/03/20, , )]"
7,7,News Online Today WRAP UP OF EVENTS AT GASTECH...,"[(2014/01/20, , )]"
8,8,Modern Rubicon ON SCENE BLOG 20 January 2014 1...,"[(, 20 January 2014, January)]"
9,9,Kronos Star Breaking Emergency at GAStech Head...,"[(, 20 January 2014, January)]"

In [142]:
for i in range(len(articles_df)):
    if articles_df['dates'].iloc[i][0][0] != '':
        articles_df['dates'].iloc[i] = articles_df['dates'].iloc[i][0][0]
    else:
        articles_df['dates'].iloc[i] = articles_df['dates'].iloc[i][0][1]
articles_df.head(10)

,article_number,content,dates
0,0,The Orb BUMP OF PROTESTS IN ABILA IN RESPONSE ...,2012/09/08
1,1,The Light of Truth ENORMOUS IPO MAKES THE BILL...,2013/12/18
2,2,Everyday News Global boxes of the charity of d...,1999/11/16
3,3,The Tulip PROMINENT MATTER BURGERMATRIJZEN OF ...,1994/02/18
4,4,News Online Today ELODIS KRONOS HELP FROM AN ...,1998/04/26
5,5,Worldwise The ministry for health studies comp...,1998/11/10
6,6,World Journal Four people died in a burning ac...,2007/03/20
7,7,News Online Today WRAP UP OF EVENTS AT GASTECH...,2014/01/20
8,8,Modern Rubicon ON SCENE BLOG 20 January 2014 1...,20 January 2014
9,9,Kronos Star Breaking Emergency at GAStech Head...,20 January 2014

In [143]:
articles_df['dates']= pd.to_datetime(articles_df['dates'])
articles_df['dates'].value_counts()

2014-01-20    221
2014-01-21     43
2014-01-19     18
2009-06-21     11
2013-12-16      9
             ...
2012-04-11      1
2012-02-22      1
2012-03-07      1
2010-12-19      1
2011-11-24      1
Name: dates, Length: 222, dtype: int64

In [144]:
#lowercase
articles_df['content']= articles_df['content'].apply(lambda x: x.lower())
print("Lowercase article content...\n")
articles_df.head(10)

Lowercase article content...

  article_number                                            content      dates
0              0  the orb bump of protests in abila in response ... 2012-09-08
1              1  the light of truth enormous ipo makes the bill... 2013-12-18
2              2  everyday news global boxes of the charity of d... 1999-11-16
3              3  the tulip prominent matter burgermatrijzen of ... 1994-02-18
4              4  news online today elodis kronos  help from an ... 1998-04-26
5              5  worldwise the ministry for health studies comp... 1998-11-10
6              6  world journal four people died in a burning ac... 2007-03-20
7              7  news online today wrap up of events at gastech... 2014-01-20
8              8  modern rubicon on scene blog 20 january 2014 1... 2014-01-20
9              9  kronos star breaking emergency at gastech head... 2014-01-20

In [145]:
def extract_words(text,regex_expr):
    matches = re.findall(regex_expr,text)
    if matches:
        return True
    else:
        return False
articles_df['disappear']= articles_df['content'].apply(lambda x:extract_words(x,r'disappear.{0,4}'))
articles_df['gastech']= articles_df['content'].apply(lambda x:extract_words(x,r'(gastech)'))
articles_df['sanjorge']= articles_df['content'].apply(lambda x:extract_words(x,r'(sanjorge)'))

articles_df

,article_number,content,dates,disappear,gastech,sanjorge
0,0,the orb bump of protests in abila in response ...,2012-09-08,False,False,False
1,1,the light of truth enormous ipo makes the bill...,2013-12-18,False,True,True
2,2,everyday news global boxes of the charity of d...,1999-11-16,False,False,False
3,3,the tulip prominent matter burgermatrijzen of ...,1994-02-18,False,True,True
4,4,news online today elodis kronos help from an ...,1998-04-26,False,True,False
...,...,...,...,...,...,...
839,839,news desk arrest blotter of the police force k...,2011-11-24,False,False,False
840,840,the orb the demonstration attracts thousands i...,2012-11-12,False,False,False
841,841,centrum sentinel voices a blog approximately ...,2014-01-20,False,True,False
842,842,homeland illumination voices a blog about wha...,2014-01-20,False,False,False
843,843,the wrap demonstration attracts thousands in s...,2012-11-12,False,False,False

In [153]:
articles_with_disappearance_word = []
articles_with_gastech_word = []
articles_with_sanjorge_word = []
for i in range(844):
    if articles_df['disappear'].iloc[i]:
        articles_with_disappearance_word.append(articles_df['article_number'].iloc[i])
    if articles_df['gastech'].iloc[i]:
        articles_with_gastech_word.append(articles_df['article_number'].iloc[i])
    if articles_df['sanjorge'].iloc[i]:
        articles_with_sanjorge_word.append(articles_df['article_number'].iloc[i])

In [154]:
articles_with_disappearance_word

[116, 138, 140, 142, 167, 180, 200, 242, 245, 274, 396, 397, 460, 679, 738]

In [155]:
articles_with_gastech_word

[1,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 15,
 17,
 19,
 21,
 22,
 23,
 24,
 26,
 29,
 30,
 31,
 32,
 39,
 40,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 58,
 59,
 60,
 62,
 63,
 65,
 66,
 67,
 69,
 70,
 73,
 74,
 76,
 77,
 78,
 80,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 94,
 97,
 99,
 100,
 102,
 105,
 106,
 107,
 111,
 112,
 113,
 114,
 119,
 120,
 121,
 122,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 153,
 154,
 155,
 157,
 159,
 160,
 161,
 163,
 164,
 165,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 182,
 183,
 186,
 189,
 192,
 193,
 195,
 197,
 198,
 199,
 202,
 203,
 206,
 212,
 213,
 214,
 216,
 217,
 218,
 219,
 220,
 221,
 223,
 225,
 227,
 232,
 235,
 236,
 238,
 240,
 241,
 245,
 247,
 249,
 250,
 253,
 256,
 259,
 261,
 262,
 268,
 269,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 284,
 285,
 289,
 291,
 292,
 293,
 294,
 295,
 298,
 300,
 303,
 304,
 305,
 307,
 308,
 310,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 326,
 328,
 329,
 331,
 332,
 335,
 336,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 347,
 348,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 359,
 360,
 362,
 365,
 367,
 368,
 370,
 371,
 372,
 375,
 376,
 377,
 381,
 383,
 384,
 386,
 387,
 390,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 400,
 401,
 402,
 404,
 409,
 411,
 412,
 413,
 415,
 417,
 418,
 419,
 422,
 425,
 426,
 427,
 428,
 430,
 431,
 432,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 444,
 445,
 446,
 448,
 449,
 450,
 452,
 453,
 455,
 456,
 457,
 460,
 461,
 462,
 463,
 464,
 466,
 469,
 471,
 472,
 474,
 476,
 478,
 481,
 483,
 484,
 485,
 486,
 491,
 493,
 494,
 495,
 496,
 497,
 498,
 501,
 502,
 503,
 504,
 506,
 507,
 509,
 510,
 511,
 512,
 515,
 516,
 517,
 518,
 519,
 521,
 522,
 524,
 525,
 526,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 545,
 550,
 552,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 564,
 565,
 569,
 573,
 574,
 578,
 580,
 582,
 583,
 585,
 586,
 587,
 589,
 591,
 592,
 593,
 594,
 597,
 598,
 599,
 600,
 602,
 603,
 605,
 607,
 608,
 613,
 614,
 616,
 618,
 619,
 624,
 626,
 634,
 635,
 637,
 638,
 642,
 647,
 648,
 652,
 653,
 654,
 656,
 657,
 658,
 660,
 663,
 665,
 666,
 667,
 671,
 673,
 674,
 675,
 676,
 678,
 679,
 680,
 682,
 683,
 684,
 685,
 686,
 689,
 690,
 692,
 693,
 694,
 695,
 697,
 699,
 702,
 703,
 704,
 706,
 709,
 710,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 725,
 726,
 727,
 728,
 729,
 731,
 732,
 734,
 735,
 736,
 738,
 739,
 741,
 742,
 743,
 750,
 751,
 752,
 756,
 759,
 760,
 761,
 763,
 764,
 768,
 771,
 772,
 776,
 778,
 782,
 784,
 787,
 788,
 790,
 791,
 794,
 795,
 796,
 798,
 799,
 802,
 803,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 813,
 818,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 832,
 834,
 837,
 838,
 841]

In [156]:
articles_with_sanjorge_word

[1,
 3,
 10,
 19,
 23,
 24,
 26,
 46,
 47,
 49,
 52,
 59,
 62,
 65,
 66,
 67,
 69,
 84,
 86,
 97,
 102,
 107,
 111,
 114,
 119,
 122,
 127,
 128,
 137,
 147,
 148,
 149,
 150,
 154,
 159,
 164,
 167,
 174,
 178,
 183,
 192,
 195,
 198,
 214,
 219,
 223,
 232,
 235,
 240,
 245,
 259,
 268,
 277,
 284,
 303,
 308,
 310,
 317,
 319,
 326,
 331,
 336,
 338,
 342,
 344,
 345,
 347,
 348,
 350,
 353,
 360,
 367,
 370,
 375,
 387,
 393,
 396,
 397,
 398,
 422,
 432,
 436,
 441,
 444,
 448,
 449,
 452,
 456,
 460,
 463,
 469,
 474,
 478,
 481,
 493,
 494,
 496,
 497,
 498,
 501,
 502,
 504,
 517,
 525,
 526,
 528,
 529,
 531,
 536,
 543,
 556,
 559,
 560,
 562,
 564,
 569,
 580,
 586,
 587,
 589,
 591,
 596,
 597,
 602,
 614,
 618,
 624,
 626,
 634,
 638,
 647,
 648,
 654,
 666,
 667,
 669,
 675,
 679,
 686,
 689,
 692,
 695,
 697,
 702,
 704,
 706,
 711,
 712,
 713,
 716,
 722,
 726,
 728,
 729,
 741,
 749,
 750,
 751,
 752,
 764,
 771,
 784,
 787,
 795,
 796,
 802,
 809,
 810,
 818,
 822,
 824,
 826,
 827,
 834]

In [157]:
from nltk.tokenize import word_tokenize
#applying tokenization to the column
articles_df['content']= articles_df['content'].apply(lambda x: word_tokenize(str(x)))

print("Tokenization...")
articles_df.head(10)

Tokenization...

,article_number,content,dates,disappear,gastech,sanjorge
0,0,"[the, orb, bump, of, protests, in, abila, in, ...",2012-09-08,False,False,False
1,1,"[the, light, of, truth, enormous, ipo, makes, ...",2013-12-18,False,True,True
2,2,"[everyday, news, global, boxes, of, the, chari...",1999-11-16,False,False,False
3,3,"[the, tulip, prominent, matter, burgermatrijze...",1994-02-18,False,True,True
4,4,"[news, online, today, elodis, kronos, help, fr...",1998-04-26,False,True,False
5,5,"[worldwise, the, ministry, for, health, studie...",1998-11-10,False,False,False
6,6,"[world, journal, four, people, died, in, a, bu...",2007-03-20,False,True,False
7,7,"[news, online, today, wrap, up, of, events, at...",2014-01-20,False,True,False
8,8,"[modern, rubicon, on, scene, blog, 20, january...",2014-01-20,False,True,False
9,9,"[kronos, star, breaking, emergency, at, gastec...",2014-01-20,False,True,False

In [158]:
stopwords = nltk.corpus.stopwords.words('english')
print(stopwords[:20])
articles_df['content']= articles_df['content'].apply(lambda x:remove_stopwords(x))
print("Remove stopwords..")
articles_df.head(10)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his']
Remove stopwords..

,article_number,content,dates,disappear,gastech,sanjorge
0,0,"[orb, bump, protests, abila, response, calls, ...",2012-09-08,False,False,False
1,1,"[light, truth, enormous, ipo, makes, billionai...",2013-12-18,False,True,True
2,2,"[everyday, news, global, boxes, charity, dren,...",1999-11-16,False,False,False
3,3,"[tulip, prominent, matter, burgermatrijzen, le...",1994-02-18,False,True,True
4,4,"[news, online, today, elodis, kronos, help, un...",1998-04-26,False,True,False
5,5,"[worldwise, ministry, health, studies, complai...",1998-11-10,False,False,False
6,6,"[world, journal, four, people, died, burning, ...",2007-03-20,False,True,False
7,7,"[news, online, today, wrap, events, gastech, 2...",2014-01-20,False,True,False
8,8,"[modern, rubicon, scene, blog, 20, january, 20...",2014-01-20,False,True,False
9,9,"[kronos, star, breaking, emergency, gastech, h...",2014-01-20,False,True,False

In [159]:
articles_df['content'] = articles_df['content'].apply(lambda x:lemmatizer(x))
articles_df.head(10)

,article_number,content,dates,disappear,gastech,sanjorge
0,0,"[orb, bump, protest, abila, response, call, ac...",2012-09-08,False,False,False
1,1,"[light, truth, enormous, ipo, make, billionair...",2013-12-18,False,True,True
2,2,"[everyday, news, global, box, charity, dren, d...",1999-11-16,False,False,False
3,3,"[tulip, prominent, matter, burgermatrijzen, le...",1994-02-18,False,True,True
4,4,"[news, online, today, elodis, kronos, help, un...",1998-04-26,False,True,False
5,5,"[worldwise, ministry, health, study, complaint...",1998-11-10,False,False,False
6,6,"[world, journal, four, people, died, burning, ...",2007-03-20,False,True,False
7,7,"[news, online, today, wrap, event, gastech, 20...",2014-01-20,False,True,False
8,8,"[modern, rubicon, scene, blog, 20, january, 20...",2014-01-20,False,True,False
9,9,"[kronos, star, breaking, emergency, gastech, h...",2014-01-20,False,True,False

In [160]:
def word_freq(str_list):
    
    new_article = []
    # gives set of unique words
    unique_words = set(str_list)
      
    for words in unique_words :
        new_article.append((words,str_list.count(words)))
#         print(words , ':', str_list.count(words))
    new_article.sort(key=lambda y: y[1],reverse = True)
    return new_article

# for i in range(len(articles_df)):
    
#     str_list = articles_df['content'].iloc[i]
#     # calling the freq function
#     word_freq_list = word_freq(str_list)
#     word_freq_list.sort(key=lambda y: y[1],reverse = True)

articles_df['word_freq'] = articles_df['content'].apply(lambda x:word_freq(x))

In [161]:
articles_df.head(10)

,article_number,content,dates,disappear,gastech,sanjorge,word_freq
0,0,"[orb, bump, protest, abila, response, call, ac...",2012-09-08,False,False,False,"[(kronos, 4), (leave, 2), (one, 2), (guard, 2)..."
1,1,"[light, truth, enormous, ipo, make, billionair...",2013-12-18,False,True,True,"[(gastech, 6), (sanjorge, 5), (million, 4), (b..."
2,2,"[everyday, news, global, box, charity, dren, d...",1999-11-16,False,False,False,"[(aid, 8), (people, 6), (care, 4), (took, 4), ..."
3,3,"[tulip, prominent, matter, burgermatrijzen, le...",1994-02-18,False,True,True,"[(sanjorge, 7), (center, 4), (sten, 4), (presi..."
4,4,"[news, online, today, elodis, kronos, help, un...",1998-04-26,False,True,False,"[(water, 7), (elodis, 6), (leader, 3), (commun..."
5,5,"[worldwise, ministry, health, study, complaint...",1998-11-10,False,False,False,"[(health, 4), (minister, 3), (nespola, 3), (st..."
6,6,"[world, journal, four, people, died, burning, ...",2007-03-20,False,True,False,"[(accident, 3), (police, 3), (year, 3), (road,..."
7,7,"[news, online, today, wrap, event, gastech, 20...",2014-01-20,False,True,False,"[(kronos, 4), (gastech, 3), (event, 2), (today..."
8,8,"[modern, rubicon, scene, blog, 20, january, 20...",2014-01-20,False,True,False,"[(gastech, 3), (disowned, 2), (reunion, 2), (p..."
9,9,"[kronos, star, breaking, emergency, gastech, h...",2014-01-20,False,True,False,"[(building, 3), (gastech, 3), (police, 2), (up..."

In [167]:
#filter articles referring to disappearance
list_of_common_keywords = list(set(articles_with_disappearance_word).intersection(articles_with_gastech_word,articles_with_sanjorge_word))
print(list_of_common_keywords)
filtered_articles_df = articles_df[articles_df['article_number'].isin(list_of_common_keywords)]
filtered_articles_df

[167, 679, 460, 396, 397, 245]

,article_number,content,dates,disappear,gastech,sanjorge,word_freq
167,167,"[international, time, gastech, employee, kidna...",2014-01-21,True,True,True,"[(kronos, 5), (gastech, 4), (employee, 4), (ki..."
245,245,"[continent, employee, gastech, kidnapped, kron...",2014-01-21,True,True,True,"[(gastech, 5), (kronos, 5), (employee, 4), (ki..."
396,396,"[world, journal, employee, gastech, removed, k...",2014-01-21,True,True,True,"[(gastech, 5), (kronos, 5), (tethys, 3), (disa..."
397,397,"[explainer, become, involved, event, gastech, ...",2014-01-20,True,True,True,"[(gastech, 10), (kronos, 7), (information, 3),..."
460,460,"[everyday, news, kidnapped, employee, gastech,...",2014-01-21,True,True,True,"[(gastech, 5), (kronos, 5), (employee, 5), (ki..."
679,679,"[explainer, disappeared, confirmed, gastech, d...",2014-01-20,True,True,True,"[(gastech, 9), (million, 4), (international, 4..."